h1, h2, h3, h4, h5, h6 {
  clear: both;
  position: relative;
  margin: 40px 0 20px 0;
  padding: 0;
  font-weight: bold;
  line-height: 20px;
}

h2 {
  font-size: 24px;
  top: -4px;
}

h3 {
  color: #a92c2c;
  font-weight: 800;
  font-size: 20px;
  top: -3px;
}

strong {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #807166;
  line-height: 150%;
  margin: 20px 0;
  line-height: 20px;
}

a, a:active, a:visited, h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active, #footer-widget-area a:hover, #footer-widget-area a:active, #topinfo a:hover, #topinfo a:active, .sf-menu ul li a:hover, #topnavi .sbOptions a:hover, #topnavi .sbOptions a:focus, #topnavi .sbOptions a.sbFocus, .tags a:hover, .comment-nr a:hover, ul.single-postinfo li a:hover, li.author a:hover {
  color: #18cece;
}

a:hover {
  color: #B07D5B;
}

.content {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
  padding: 10px;
}

.box-nm {
  border: 2px solid #52c0b0;
  box-shadow: 0 0 0 7px #52c0b0;
  outline: 3px solid #ffffff;
  margin: 10px;
}

.box-nm h1.page-title {
  width: 98%;
  margin-bottom: 5px;
  font-weight: 800;
  color: #a92c2c !important;
  font-size: 36px;
  line-height: 40px;
  top: 0;
  margin: 12px -10px 21px 10px;
  padding-bottom: 22px !important;
  text-align: center;
  display: block !important;
}

h1.page-title:after {
  border-bottom: 1px solid #a49284 !important;
  bottom: 0;
  content: "";
  height: 0px;
  left: 50%;
  margin-left: -31.5px;
  position: absolute;
  width: 63px;
  margin-bottom: 0px;
}

.page-content {
  margin-top: 20px;
  padding: 0 20px;
}

.single-entry h2 {
  text-align: center;
  color: #a92c2c;
  font-weight: 800;
}

.single-entry h2 + p {
  text-align: center;
  font-size: 16px;
}